/* ref: https: //contactmentor.com/how-to-add-loading-spinner-react-js/ */

@keyframes spinner {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(720deg);
    }
}

.loading-spinner {
    width: 45px;
    height: 45px;
    border: 6px solid #f3f3f3;
    border-top: 6px solid #39b7dab5;
    border-radius: 50%;
    animation: spinner 1.5s linear infinite;
}

