html {
  background-color: #282c34;
  font-size: 16px;
}

header {
  font-size: 140%;
  margin: 8%;
  display: flex;
  justify-content: center;
}

h1 {
  margin-bottom: 30px;
}

.btn {
  font-size: 60%;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-wrapper {
  min-height: 100vh;
  font-size: calc(10px + 1.5vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.btn {
  width: fit-content;
  height: fit-content;
  background-color: white;
  height: 90px;
}


.rangesWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
  margin: auto;
  margin-bottom: 4%;
}

.rangesDialogContainer {
  cursor: ponter;
  width: fit-content;
  margin: auto;
}

#input-label {
  width: 80%;
}

.randomAyahButtonContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  margin-top: 5px;
}

.prevNextContainer {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-top: 4%;
}

.mainContentWrapper {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.card {
  background-color: darkslategray;
  min-width: calc(40vmin);
  min-height: calc(10vmin);
  height: auto;
  width: (fit-content);
  padding: 70px;
  padding-top: 8%;
  padding-bottom: 10%;
  margin: auto;
  margin-top: 30px;
  border-color: rgb(0, 0, 0);
  border-width: 0.5cm;
  border-style: double;
  border-radius: 25px;
  text-align: center;
  font-size: 95%;
}

.meta-card {
  background-color: rgb(23, 55, 33);
  max-width: 120px;
  font-size: 80%;
  margin: auto;
  margin-top: 20px;
  border-color: rgb(20, 32, 26);
  border-width: 0.1cm;
  border-style:inset;
}




/* THANKS CHATGPT for media queries*/


/* Media query for small devices */
@media screen and (max-width: 576px) {

  /* Adjust font size for small devices */
  html {
    font-size: 20px;
  }

  /* Adjust layout for small devices */
  body {
    padding: 10px;
    font-size: 10px;
  }
}

/* Media query for medium devices */
@media screen and (min-width: 576px) and (max-width: 768px) {

  /* Adjust font size for medium devices */
  html {
    font-size: 15px;
  }

  /* Adjust layout for medium devices */
  body {
    padding: 20px;
  }
}

/* Media query for large devices */
@media screen and (min-width: 768px) {

  /* Adjust font size for large devices */
  html {
    font-size: 16px;
  }

  /* Adjust layout for large devices */
  body {
    padding: 30px;
  }
}