html {
  background-color: #282c34;
  font-size: 16px;
}

header {
  font-family: "Poppins", sans-serif;
  font-size: 140%;
  margin: 2%;
  display: flex;
  justify-content: center;
}

h1 {
  margin-bottom: 30px;
}

.btn {
  font-size: 60%;
}

.App-wrapper {
  min-height: 100vh;
  font-size: calc(10px + 1.5vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.btn {
  width: fit-content;
  height: fit-content;
  background-color: white;
  height: 90px;
}

.selectContainer {
  width: 50%;
  padding: 2.5%;
  margin: auto;
  margin-bottom: 20px;
}

.boundsWrapper{
  display: flex;
  align-items: center;
  justify-content: center;
  background-color:rgba(91, 115, 128, 0.612);
  width: fit-content;
  margin: auto;
  margin-top: -3%;
  padding: 2%;
  padding-top: 4.5%;
  font-size: 65%;
  border-radius: 8%;
  color:aliceblue;
  font-family: "Poppins", sans-serif;
  
}

.rangesDialogContainer {
  width: fit-content;
  margin: auto;
}

.randomAyahButtonContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  margin-top: 5px;
}

.prevNextContainer {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.mainContentWrapper {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.card {
  background-color: darkslategray;
  min-width: calc(40vmin);
  min-height: calc(15vmin);
  height: auto;
  width: fit-content;
  padding: 70px;
  padding-top: 8%;
  padding-bottom: 10%;
  margin: auto;
  margin-top: 30px;
  border-color: rgb(0, 0, 0);
  border-width: 0.25cm;
  border-style: double;
  border-radius: 25px;
  text-align: center;
  font-size: 100%;
  font-family: "Poppins", sans-serif;
}

.meta-card {
  background-color: rgb(23, 55, 33);
  max-width: 120px;
  font-size: 80%;
  margin: auto;
  margin-top: 20px;
  border-color: rgb(20, 32, 26);
  border-width: 0.1cm;
  border-style:inset;
  font-family: "Poppins", sans-serif;
}

#answerContainer {
  margin: auto;
  margin-top: 2.5%;
  margin-bottom: 2.5%;
  width: 150px;
  position: relative;
  background-color: aliceblue;
  border-color: rgb(24, 40, 40);
  border-width: 0.1cm;
  border-style: inset;
  
}

#answerWrapper {
  background-color: aliceblue;
  color: darkslategray;
  width: fit-content;
  margin: auto;
  font-size: 62%;
  max-height: 120px;
  font-weight: 750;
  padding: 1.2px;
  border: black;
  font-family: "Poppins", sans-serif;
  
}

#answerCover {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: darkslategray;
  color: aliceblue;
  width: 100%;
  font-size: 70%;
  font-weight: 600;
  opacity: 1;
  font-family: "Poppins", sans-serif;
  position: absolute;
  border: solid darkslategray;
}

#revealBtn {
  display: flex;
  justify-content: center;
}

/* THANKS CHATGPT for the media queries*/


/* Media query for small devices */
@media screen and (max-width: 576px) {

  /* Adjust font size for small devices */
  html {
    font-size: 20px;
  }

  /* Adjust layout for small devices */
  body {
    padding: 10px;
    font-size: 10px;
  }
}

/* Media query for medium devices */
@media screen and (min-width: 576px) and (max-width: 768px) {

  /* Adjust font size for medium devices */
  html {
    font-size: 15px;
  }

  /* Adjust layout for medium devices */
  body {
    padding: 20px;
  }
}

/* Media query for large devices */
@media screen and (min-width: 768px) {

  /* Adjust font size for large devices */
  html {
    font-size: 16px;
  }

  /* Adjust layout for large devices */
  body {
    padding: 30px;
  }
}